@use 'styles/base';

.header {
  padding-bottom: base.$size-8;
  border-bottom: 8px solid base.$color-primary-100;
  margin: base.$size-4 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: base.$size-8;
    color: base.$color-primary-500;
    margin: 0;
    line-height: initial;
    text-align: center;
  }

  img {
    object-fit: cover;
    width: 200px;
    height: 120px;
  }
}

@media (min-width: 768px) {
  .header {
    margin: base.$size-8 0;
    flex-direction: row;
    align-items: flex-end;
    
    h1 {
      font-size: base.$size-16;
      text-align: left;
    }
  }
}